<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <p>Asintomatici in Italia oggi:</p>
    </div>
    <div class="col-md-10" style="margin-bottom:-100px;">
      <marquee direction="left" scrolldelay="150" height="30" width="auto" bgcolor="white" style="margin-right:5px;">
        <div>
          <span *ngFor="let item of rispostaScroll">{{ item.name }}:
            {{ item.asymptomatic }}</span>
        </div>
      </marquee>
    </div>
  </div>
  <div leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)" style="border: 5px #2d3246 solid; border-radius:15px;">
    <div id="map" style="height: 500px"></div>
  </div>
</div>

<div class="showdetails" *ngIf="this.dettagliRegione">
  <div class="modal-dialog showdetailsDialog">
    <div class="modal-content">
      <div class="modal-header">
        <img [src]="dettagliRegione.stemmaSvg" weight="60"
          height="80" style="margin-right: 20px;">
        <h2 class="modal-title">{{ dettagliRegione.name }}</h2>
        <button type="button" class="close" (click)="closeShowDetails()">
          <span> &times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Popolazione: {{ dettagliRegione.population }}</p>
        <p>Asintomatici: {{ dettagliRegione.asymptomatic }}</p>
        <p>Positivi: {{ dettagliRegione.positive }}</p>
        <p>Asintomatici su positivi: {{ dettagliRegione.asymptomatic / dettagliRegione.positive * 100 | number:'1.1-2'}}%</p>
        <p>Asintomatici su popolazione: {{ dettagliRegione.asymptomatic / dettagliRegione.population * 100 | number:'1.1-2'}}%</p>
      </div>
      <div class="modal-footer justify-content-between">
        <div>
        <a [href]="dettagliRegione.sitoRegione" target="_blank">Sito ufficiale regione</a>
      </div>
        <div>
      <a [href]="dettagliRegione.uslRegione" target="_blank">Elenco ASL</a>
      <a *ngIf="dettagliRegione.uslRegione2" style="margin-left: 12px;" [href]="dettagliRegione.uslRegione2" target="_blank">Elenco ASL 2</a>
    </div>
      </div>
    </div>
  </div>
</div>
