<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <p>Asintomatici in Italia oggi:</p>
    </div>
    <div class="col-md-10" style="margin-bottom:-100px;">
      <marquee direction="left" scrolldelay="150" height="30" width="auto" bgcolor="white" style="margin-right:5px;">
        <div>
          <span *ngFor="let item of rispostaScroll">{{ item.name }}:
            {{ item.asymptomatic }}</span>
        </div>
      </marquee>
    </div>
  </div>
  <div leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)" style="border: 5px #2d3246 solid; border-radius:15px;">
    <div id="map" style="height: 500px"></div>
  </div>
</div>

<div class="showdetails" *ngIf="this.dettagliRegione">
  <div class="modal-dialog showdetailsDialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{ dettagliRegione.name }}</h2>
        <button type="button" class="close" (click)="closeShowDetails()">
          <span> &times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Popolazione: {{ dettagliRegione.population }}</p>
        <p>Asintomatici: {{ dettagliRegione.positive }}</p>
      </div>
    </div>
  </div>
</div>
