<div class="container" style="margin-bottom: -70px;">
  <h2>Gestione soglie</h2>
  <div class="row">
    <div class="offset-md-2 col-md-8 offset-md-2">

      <form *ngIf="response" #f="ngForm" class="card card-body mt-3 form-group" (ngSubmit)="onSubmit(f.value)">

        <div class="row">
          <div class="col-md-6">
            <label>Soglia inferiore:</label>
            <br>
            <small *ngIf="f.value.minPositiveThresholds === response.minPositiveThresholds">Soglia
              attuale:</small>
              <div class="input-group mb-3">
            <input name="minPositiveThresholds" [ngModel]="response.minPositiveThresholds" type="number" min="0"
              max="99" class="form-control" placeholder="Inserisci soglia inferiore" id="minPositiveThresholds" />
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
            </div>

          </div>

          <div class="col-md-6">
            <label>Modifica Colore Primo Range</label>
            <br>
            <small *ngIf="f.value.minColorPositiveThresholds === response.minColorPositiveThresholds">Colore
              attuale:</small>
            <input type="color" name="minColorPositiveThresholds" [ngModel]="response.minColorPositiveThresholds"
              class="form-control" id="minColorPositiveThresholds" />

          </div>
        </div>
        <br>
        <div class="row">

          <div class="col-md-6">
            <label>Soglia Superiore:</label>
            <br>
            <small *ngIf="f.value.maxPositiveThresholds === response.maxPositiveThresholds">Soglia
              attuale:</small>
              <div class="input-group mb-3">
            <input name="maxPositiveThresholds" [ngModel]="response.maxPositiveThresholds" type="number" min="0"
              max="100" class="form-control" placeholder="Inserisci soglia superiore" id="maxPositiveThresholds" />
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <label>Modifica Colore Secondo Range</label>
            <br>
            <small *ngIf="f.value.mediumColorPositiveThresholds === response.mediumColorPositiveThresholds">Colore
              attuale:</small>
            <input type="color" name="mediumColorPositiveThresholds" [ngModel]="response.mediumColorPositiveThresholds"
              class="form-control" id="mediumColorPositiveThresholds" />

          </div>


        </div>
        <br>
        <div class="row">
          <div class="offset-md-6 col-md-6">
            <label>Modifica Colore Terzo Range</label>
            <br>
            <small *ngIf="f.value.maxColorPositiveThresholds === response.maxColorPositiveThresholds">Colore
              attuale:</small>
            <input type="color" name="maxColorPositiveThresholds" [ngModel]="response.maxColorPositiveThresholds"
              class="form-control" id="maxColorPositiveThresholds" />
          </div>
        </div>
        <br>
        <div class="row justify-content-center">
          <div class=" col-md-10 ">
            <button class="btn btn-block" [disabled]="f.invalid"
              [ngClass]="{ 'btn-success': f.valid, 'btn-warning': f.invalid }">
              Salva
            </button>
          </div>
        </div>

      </form>



    </div>
  </div>
</div>
