p {
  font-size: 18px;
  font-weight: 500;
}
span {
  margin-right: 50px;
}
.showdetails {
  background-color: rgba(45, 50, 70, 0.5);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
}
.showdetailsDialog {
  margin-top: 150px;
}
