<div class="container">
  <h2>Gestione soglie</h2>
  <div class="row">
    <div class="offset-md-3 col-md-6 offset-md-3">
      <form
        *ngIf="response"
        #f="ngForm"
        class="card card-body mt-3"
        (ngSubmit)="onSubmit(f.value)"
      >
        <label>Soglia inferiore:</label>
        <input
          name="minAsymptomaticThresholds"
          [ngModel]="response.minAsymptomaticThresholds"
          type="number"
          min="0"
          max="99"
          class="form-control"
          placeholder="Inserisci soglie inferiore"
          id="minAsymptomaticThresholds"
        />
        <br />
        <label>Soglia Superiore:</label>
        <input
          name="maxAsymptomaticThresholds"
          [ngModel]="response.maxAsymptomaticThresholds"
          type="number"
          min="0"
          max="100"
          class="form-control"
          placeholder="Inserisci soglie superiore"
          id="maxAsymptomaticThresholds"
        />
        <br />
        <label>Modifica Colore Primo Range</label>

        <input
          type="color"
          name="minColorAsymptomaticThresholds"
          [ngModel]="response.minColorAsymptomaticThresholds"
          class="form-control"
          id="minColorAsymptomaticThresholds"
        />

        <br />

        <label>Modifica Colore Secondo Range</label>
        <input
          type="color"
          name="mediumColorAsymptomaticThresholds"
          [ngModel]="response.mediumColorAsymptomaticThresholds"
          class="form-control"
          id="mediumColorAsymptomaticThresholds"
        />
        <br />

        <label>Modifica Colore Terzo Range</label>
        <input
          type="color"
          name="maxColorAsymptomaticThresholds"
          [ngModel]="response.maxColorAsymptomaticThresholds"
          class="form-control"
          id="maxColorAsymptomaticThresholds"
        />
        <br />
        <button
          class="btn"
          [disabled]="f.invalid"
          [ngClass]="{ 'btn-success': f.valid, 'btn-warning': f.invalid }"
        >
          Salva
        </button>
      </form>
    </div>
  </div>
</div>
