<div class="container-fluid" style="margin-top:15px;">
  <div class="row justify-content-around">
    <div class="col-md-6"></div>
    <ul class="pull-right ">
      <li>
        <a routerLink="managedeathsinput" routerLinkActive="active">
          Gestione decessi</a
        >
      </li>
      <li
        style="
    padding-right: 0px;"
      >
        <a routerLink="managedeathsthreshold" routerLinkActive="active">
          Gestione soglie
        </a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
